<!DOCTYPE html>
<html>
  <head>
    <title>IEEE Summer Project</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to IEEE Web Dev Summer Project!</h1>
  </body>
</html>
