
.panel{
	word-wrap: break-word;
}
footer p{
	text-align: center;
}
.method{
	padding:10px;
}
code {
	padding: .2rem .4rem;
	font-size: 90%;
	color: #bd4147;
	background-color: #f7f7f9;
	border-radius: .25rem;
}
