body{
    font-family: tahoma;
    color: #FFFFFF;
    background: #efe5ff;
}

h1{
    position: relative;
    transform: translateY(30%);
    width: 95%;
    background: #a872ff;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}
