<div ng-init="challengeData = {}" class="row">
    <h2>Add new Challenge:</h2> <br>
    <form name="challengeForm" ng-init="challengeData = {}">
        <div class="row">
        <div class="col-md-6">
        <div class="form-group">
            <input class="form-control" type="text" name="title" ng-model="challengeData.title" placeholder="Title">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="points" ng-model="challengeData.points" placeholder="Points">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="category" ng-model="challengeData.category" placeholder="Type of Challenge">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="flag" ng-model="challengeData.flag" placeholder="Flag">
        </div>
        </div>
        <div class="form-group col-md-6">
            <textarea class="form-control" name="description" cols="30" rows="10" ng-model="challengeData.description" placeholder="describe your challenges, feel free to use html, and please make all the links into new tab."></textarea>
        </div>
        </div>
        <div class="form-group center-block">
            <button class="btn btn-primary" ng-click="saveNewChallenge()">Save</button>
        </div>
    </form>
</div>