<div>
    <div class="row">
        <div class="col-md-6">
            <h2>Leaderboard</h2>
        </div>
        <div class="right searchbox col-md-6">
            <div class="input-group">
                <input type="text" class="search-query form-control" ng-model="userFilter" placeholder="Search for usernames" />
                <span class="input-group-btn">
                    <button class="btn" type="button">
                        <span class=" glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
    <table class="table table-striped table-hover ">
        <thead>
        <tr>
            <div class="col-md-4">
            <th class="col-md-2">#</th>
            <th class="col-md-8">Team Name</th>
                <th class="col-md-2">Score</th>
            </div>
            <div class="col-md-8">
                <th ng-repeat="challenge in challenges"><span class="flip">{{challenge.title}}</span></th>
            </div>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in users | filter : userFilter">
            <td>{{$index + 1}}</td>
            <td>{{user.username}}</td>
            <td>{{user.points}}</td>
            <td ng-repeat="challenge in challenges">{{user.challenges[$index] ? '&#x2714;' : '&#x2717;'}}</td>
        </tr>
        </tbody>
    </table>
    </div>
</div>