<div class="col-md-4 center-block">
    <h1 class="center-block">Login</h1>
    <form name="userForm">
        <div class="form-group">
            <input class="form-control" name="username" type="text" ng-model="username" placeholder="Name" required>
            <span class="text-danger" ng-show="userForm.username.$invalid && userForm.username.$touched">Invalid Name</span>
        </div>
        <div class="form-group">
            <input class="form-control" name="password" type="password" ng-model="password" placeholder="password" required>
            <span class="text-danger" ng-show="userForm.password.$invalid && userForm.password.$touched">Invalid Password</span>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" ng-click="login()">Login</button>
        </div>
        <div class="form-group">
            <p class="text text-danger">{{loginError}}</p>
        </div>
        <span class="text-info center-block">New here? <a ui-sref="signup">sign up</a></span>

    </form>
</div>
